body {
  background-color: #32420F;
  background-image: url('assets/baseballField.jpg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Cabin Sketch', cursive;
  text-shadow: 2px 2px 20px rgba(189, 58, 50, .42);
  color: #FDFDFD;
}

h1 {
  font-size: 3rem;
  margin-top: 5%;
}

#burns {
  line-height: 22pt;
  margin: 2%;
  font-size: 1.3rem;
}

#burns-container,
.card,
#instructions,
h2 {
  background-color: rgba(0, 0, 0, .35);
  border-radius: 15px;
}

#instructions {
  padding: 20px;
  max-width: 600px;
  margin-top: 10px;
}

a:visited,
a {
  color: #FDFDFD;
}

button:hover {
  cursor: pointer;
}

button {
  outline: none;
}

#burns-container {
  margin: 4%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#button-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

#target-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card,
h2 {
  margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 2.3rem;
}

#quote {
  max-width: 140px;
  border: 2px solid #BD3A32;
  background-color: white;
  border-radius: 7px;
}

.fetch-btn {
  width: 67px;
  height: 67px;
  padding: 0;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url('assets/baseball.png');
}